<!DOCTYPE html>
<!--
  Esquema de la tarjeta.
    Imagen
    titulo
    precio
    quizas poner los prdocutos restantes si hay pocos o algo asi
-->
<a [routerLink]= "GoLibroPage()" class="link-danger link-underline-opacity-0 link-underline-opacity-75-hover" >
    <div class="card my-2 w-100" style="max-width: 150px;" >
        <img
          [src]="librodatos.images[0]"
          class="card-img-top"
          alt="..."
          
        />
        <div class="card-body text-start">
          <h5 class="card-title fs-6">{{librodatos.title}}</h5>
          <p class="card-text fs-6" >
            RD${{librodatos.price}}
          </p>
        </div>
      </div>
    </a>
