<!DOCTYPE html>

<div class="container-fluid">
  <div class="row ">
    <div class="text-center col-2">
      <div class="row">
        <div class="col">
            <!--Form de consulta-->
          <h5>Categorias</h5>
          <div class="container">
            <div class="row">
              <button type="button" class="btn btn-light text-start" *ngFor="let genero of generoslibros" >{{genero}}</button>
              

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10" style="background-color: rgb(239, 239, 239)">
        <!--Listados de libros-->
      <div class="container text-start">
        <h3>Libros encontrados</h3>
        <br />
        <div class="container bg-light">
          <div class="row">
            <div class=" col-sm-4 col-lg-3 col-xl-2" *ngFor="let objlibro of libros">
                <app-libro [librodatos]= "objlibro"   ></app-libro>
            </div> 
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
